@import '../index.scss';
form{
    @extend %flex-style;
    width: 400px;
    flex-direction: column;
    justify-content: space-between;
    input{
        height: 40px;
        width: 250px;
    }
    
}
