@import '../index.scss';

%btn{
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.wrapper-contacts{
    @extend %flex-style;
}
.block-contacts{
    @extend %flex-style;
    @extend %white-bl;
    flex-direction: column;
    width: 720px;
    min-height: 500px;
}
.contacts-btn{
    width: 90px;
    height: 20px;
    @extend %flex-style;
    justify-content: space-between;
}
.contact{
    @extend %flex-style;
    justify-content: space-around;
    height: 100px;
    width: 100%;
}
.icon{
    display: block;
    background-image: url(../img/iconcat.jpg);
    background-position: center;
    width:100px;
    height: 90px;
    background-size: 100%;
}
.add{
    @extend%gradient;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
.del,span{
    @extend %btn;
}
span{
    text-align: center;
    font-size: 35px;
    line-height: 25px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}